html, body{
	width:100vw;
	height:100vh;
	overflow: hidden;
}

body{
	margin:0px;
	padding:0px;
	background:#222222;
	background-image:url('images/background.jpg');
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#background{
	width:800px;
	height:100vh;
	position:absolute;
	top:0%;
	left:20%;
	background-image:url("images/background_intro.png");
	background-repeat: repeat;
	z-index:-1;
}

#sidebar{
	width:100px;
	height: 400px;
	margin-left: 100px;
	margin-top: 125px;
}

#game{
	background:url("images/game_background1.jpg");
	position:absolute;
	top: 20%;
	left: 20%;
	
}

button{
	text-transform: uppercase;
	width: 100px;
	margin-top: 50px;
	padding:8px 20px;
    background-color:#4bc67a;
  	border: 2px solid #4bc67a;
  	color:#fff;
	  border-radius:4px;
	  margin-bottom: 50px;
}

button:hover {
	background-color:#47bc72;
  	border: 2px solid #47bc72;
  	-webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-o-transition: all .3s ease;
  	transition: all .3s ease;

}
#space{
	width: 100px;
	opacity: 0.7;
	border-radius:4px;
	height: 50px;
}

#arrows{
	width: 100px;
	height: 100px;
	opacity: 0.7;
	border-radius:4px;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

span{
	margin-left: 15px;
	font-family: "Gochi", cursive;

}
